<div class="animated fadeInUp fast">
  <h3 class="titulo">Acerca de</h3>

  <h5 class="titulo">
    La aplicación consta de las siguientes características/funcionalidades:
  </h5>

  <p class="titulo">Visualización de:</p>

  <ul>
    <li>Películas populares del momento.</li>
    <li>Películas populares entre niños.</li>
    <li>Películas más taquilleras.</li>
    <li>Películas en cartelera.</li>
    <li>Mejores películas con rating R.</li>
    <li>Mejores películas del año.</li>
    <li>Mejores dramas del año.</li>
    <li>
      Mejores películas de Ciencia Ficción en las que ha estado Tom Cruise.
    </li>
  </ul>

  <p class="titulo">Así como:</p>

  <ul>
    <li>Búsqueda de películas.</li>
    <li>Detalles de películas.</li>
  </ul>
</div>
