<mat-toolbar>
  <h3 class="titulo">Peliculas</h3>
</mat-toolbar>

<div class="card-columns">
  <div class=" pointercontainer card animated fadeInUp fast" *ngFor="let categoria of categorias">
    <img

      [src]="categoria.imagenRuta"
      class="card-img-top"
      (click)="redireccionar(categoria.id)"
      alt="{{ categoria.titulo }}"
    />
    <div class="card-body">
      <h5 class="card-title">
        <b>{{ categoria.titulo }}</b>
      </h5>
      <p>{{ categoria.descripcion }}</p>
    </div>
  </div>
</div>
